<div class="middle-price">
<div class="executors-blocks-middle-price">
<div class="org-block active">
<h2 class="org-block-title active">
Вопросы от клиентов:
</h2>
<div class="question-block-content">
<div class="org-table-row">
<div class="question-table-topic">
<span class="org-table-row-link">✔️ question_1</span>
</div>
<div class="question-table-answer org-table-row-hidden">answer_1</div>
</div>
<div class="org-table-row">
<div class="question-table-topic">
<span class="org-table-row-link">✔️ question_2</span>
</div>
<div class="question-table-answer org-table-row-hidden">answer_2</div>
</div>
<div class="org-table-row">
<div class="question-table-topic">
<span class="org-table-row-link">✔️ question_3</span>
</div>
<div class="question-table-answer org-table-row-hidden">answer_3</div>
</div>
<div class="org-table-row">
<div class="question-table-topic">
<span class="org-table-row-link">✔️ question_4</span>
</div>
<div class="question-table-answer org-table-row-hidden">answer_4</div>
</div>
<script type="application/ld+json">
{
@context: "https://schema.org",
@type: "FAQPage",
mainEntity: [
{
@type: "Question",
name: "question_1",
acceptedAnswer: {
@type: "Answer",
text: "answer_1"
}
},
{
@type: "Question",
name: "question_2",
acceptedAnswer: {
@type: "Answer",
text: "answer_2"
}
},
{
@type: "Question",
name: "question_3",
acceptedAnswer: {
@type: "Answer",
text: "answer_3"
}
},
{
@type: "Question",
name: "question_4",
acceptedAnswer: {
@type: "Answer",
text: "answer_4"
}
}
]
}
</script>
</div>
</div>
</div>
</div>